:root{
    --bgcBase: #ccc;
    --ffBase: sans-serif;
    --fszBase: 18px;
    --lhBase: 24px;
    --colorBase: #222;
    --maxw: 960px;
    --minw: 320px;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcBase);
    font-family: var(--ffBase);
    font-size: var(--fszBase);
    line-height: var(--lhBase);
    color: var(--colorBase);
}

.wrapper{
    max-width: var(--maxw);
    min-width: var(--minw);
    margin: 60px auto;
}


.wrapper img{
    width: 100%;
}


.wrapper form{
    text-align: center;
}


.wrapper input[type="text"]{
    padding: 10px;
    width: 100%;
}

.wrapper input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    width: 20%;
    cursor: pointer;
}

.fName,
.fPhone{
padding: 20px;
}

hr{
    height: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}